@{
    ViewData["Title"] = "Home Page";
}

@model LoginUser

<div class="container">
    <h1>Login</h1>
    <a asp-action="Index" asp-controller="Home" class="btn btn-warning">Register</a>
    <div class="text-danger"asp-validation-summary="All"></div>

    <form asp-action="Login" asp-controller="Home" method="post">
        <label asp-for="LoginEmail"></label>
        <input asp-for="LoginEmail"><br>
        <label asp-for="LoginPassword"></label>
        <input asp-for="LoginPassword"><br>
        <input type="submit"  class="btn btn-danger "value="LOGIN">
    </form>

</div>